<ly-card>
  <ly-card-content>

    <mat-form-field>
      <mat-label [ngStyle]="{'color': 'white'}">Placa</mat-label>
      <input [ngStyle]="{'color': 'white'}" matInput [(ngModel)]="placa" (input)="evento('placa')">
    </mat-form-field>

    <mat-form-field>
      <mat-label [ngStyle]="{'color': 'white'}">KM</mat-label>
      <input [ngStyle]="{'color': 'white'}" matInput [(ngModel)]="km" (input)="evento('km')">
    </mat-form-field>

    <mat-form-field>
      <mat-label [ngStyle]="{'color': 'white'}">Modelo</mat-label>
      <input [ngStyle]="{'color': 'white'}" matInput [(ngModel)]="modelo" (input)="evento('modelo')">
    </mat-form-field>

    <mat-form-field>
      <mat-label [ngStyle]="{'color': 'white'}">Marca</mat-label>
      <input [ngStyle]="{'color': 'white'}" matInput [(ngModel)]="marca" (input)="evento('marca')">
    </mat-form-field>

    <mat-form-field>
      <mat-label [ngStyle]="{'color': 'white'}">Est Conserv</mat-label>
      <input [ngStyle]="{'color': 'white'}" matInput [(ngModel)]="estadoConservacao" (input)="evento('estadoConservacao')">
    </mat-form-field>

  <table mat-table id='tabela-veiculo' class="full-width-table" matSort>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
      <td mat-cell *matCellDef="let row">{{row.modelo}}</td>
    </ng-container>

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
      <td mat-cell *matCellDef="let row">{{row.placa}}</td>
    </ng-container>

    <ng-container matColumnDef="cor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cor</th>
      <td mat-cell *matCellDef="let row">{{row.cor}}</td>
    </ng-container>

    <ng-container matColumnDef="km">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>KM</th>
      <td mat-cell *matCellDef="let row">{{row.km}}</td>
    </ng-container>

    <ng-container matColumnDef="anoFabricacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano Fabricação</th>
      <td mat-cell *matCellDef="let row">{{row.anoFabricacao}}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
      <td mat-cell *matCellDef="let row">{{row.marca}}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">{{row.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="tipoCombustivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Combustivel</th>
      <td mat-cell *matCellDef="let row">{{row.tipoCombustivel}}</td>
    </ng-container>

    <ng-container matColumnDef="estadoConservacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Conservação</th>
      <td mat-cell *matCellDef="let row">{{row.estadoConservacao}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td  class="action" mat-cell *matCellDef="let row">
        <a class="edit" routerLink="/veiculos/update/{{ row.id }}">
            <ly-icon color="primary">edit_outline</ly-icon>
        </a>
        <a class="delete" routerLink="/veiculos/delete/{{ row.id }}">
            <ly-icon color="warn">delete_outline</ly-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 25]">
  </mat-paginator>
</ly-card-content>
</ly-card   >


